.wrap {
  padding: 1rem;
  padding-top: 14rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.right {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  letter-spacing: 0.25em;
  font-weight: 800;
  font-size: 2rem;
  color: var(--brand-stud-title);
}

.card {
  margin: 0 auto;
  max-width: 93.75rem;
  min-height: 22.5rem;
  background: #f7f8fb;
  border-radius: 1.125rem;
  border: 0.125rem solid transparent;
  background-image: linear-gradient(var(--bg)),
    var(--brand-stud-pale-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 2.5rem;
  display: grid;
  place-items: center;
}

.emptyText {
  margin: 0 0 1.125rem;
  text-align: center;
  color: var(--brand-stud-label);
  font-size: 1.125rem;
}

.ctaRow {
  display: grid;
  place-items: center;
  color: var(--brand-stud-label);
}

.enrollBtn {
  max-width: 21.25rem;
  display: grid;
  grid-auto-flow: column;
  background-color: var(--brand-stud-btn);
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: clamp(16px, 2.2vw, 20px);
  
}

.enrollBtn:hover {
  transform: scale(1.05) translateY(-0.0625rem);
  background-color: var(--brand-stud-btn-hover);
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.18);
}

.arrow {
  display: inline-block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.125rem;
  margin-top: 1.25rem;
}
