
# Python
*.pyc
__pycache__/
db.sqlite3

# macOS
.DS_Store

# Node
node_modules/

# Virtual environments
env/
venv/
ENV/
.venv/
# env
.env


# Python cache
__pycache__/
*.pyc

# Distribution / build
build/
dist/
*.egg-info/

# Database
*.sqlite3

# Logs
*.log

# Django/static/media
/static/
/media/
*.collectstatic

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
.DS_Store

venv/ 

