[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
asgiref = "==3.9.1"
djangorestframework = "==3.16.1"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
pytz = "*"
sqlparse = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-environ = "*"
axios = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.13"
